body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Appname{
  height: 80vh;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:lightseagreen;
}
.quizquestion{
  height: 300px;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: coral;
  text-align: center;
  font-size: xx-large;
  padding-right: 5px;
}
.quizoption{
  padding: 2px;
  margin-top: 1px;
}
.quizul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  list-style-type: none;
}
.options{
  background-color: aliceblue;
  padding: 0.3rem;
  border-radius: 3rem;
  cursor: pointer;
}
.options :hover{
  box-shadow: 1px 1px 7px red;
}
